PORT=5001
MONGODB_URI=mongodb://localhost:27017/social-sticky-notes
JWT_SECRET=4480207cde59abc20f0119b746f4276b711dd28dfedd9463dab938c55d7b1be3
JWT_EXPIRE=7d

# Nodemailer (Gmail example)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=Alokverma1566@gmail.com
EMAIL_PASS=weqi uygk ruka uktm

# Twilio (optional SMS)
TWILIO_ACCOUNT_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_token
TWILIO_PHONE=+1234567890

CLIENT_URL=http://localhost:3000
ADMIN_SECRET_CODE=Valok@8840
